.medicin{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.cart{
    height: 150px;
    padding: 20px;
    display: flex;
    border: 1px solid lightblue;
    border-radius: 10px;
}
.plusIcon{
    margin: 30px;
}
.product-img{
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 1080px){
    .medicin{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .cart{
        height: 150px;
        padding: 0px;
        display: flex;
        border: 1px solid lightblue;
    }

}