
.scarch-bar{
   margin-right: 50px; 
}
.cart{
    margin: 10px;
}
.carousel-caption {
    position: absolute;
    right: 60%;
    bottom: 1.25rem;
    top: 40%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #000;
    text-align: center;
}
.carousel-caption h3{
    font-size: 40px;
}
.carousel-caption p{
    font-size: 18px;
    color: rgb(0, 0, 0);
}